---
import appScreen1 from "/images/appScreen1.png";
import appScreen2 from "/images/appScreen2.png";
import appScreen3 from "/images/appScreen3.png";
import appScreen4 from "/images/appScreen4.png";
import appScreen5 from "/images/appScreen5.png";
import appScreen6 from "/images/appScreen6.png";
import appScreen7 from "/images/appScreen7.png";
import { Image } from "@astrojs/image/components";
---

<section
  aria-labelledby="header-one"
  id="header-one"
  class="relative overflow-hidden"
>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 my-24 items-center lg:py-44"
  >
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <span class="text-orange uppercase text-xs font-semibold"
            >Header Three</span
          >
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl"
          >
            Swap sections and create your landing page in minutes, not hours.
          </h2>
          <p class="text-tangaroa-400 mt-5">
            Receive dividends bull investment mutual funds rise federal funds
            strategy substantially treasury municipal public index funds.
          </p>
        </div>
        <div class="mt-10 flex flex-col lg:flex-row gap-3 lg:gap-6">
          <a
            class="group w-full lg:w-auto inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-tangaroa-500 text-white hover:bg-tangaroa-700 hover:text-tangaroa-100 active:bg-tangaroa-800 active:text-tangaroa-300 focus-visible:outline-tangaroa-900"
            href="/overview"
          >
            Explora all pages
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 ml-3"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div
          class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
        >
          <div class="flex items-center space-x-6 lg:space-x-8">
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow sm:opacity-0 lg:opacity-100"
              >
                <Image
                  src={appScreen1}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen2}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen3}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen4}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen5}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen6}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
              <div
                class="h-full w-44 overflow-hidden rounded-xl shadow-largeShadow"
              >
                <Image
                  src={appScreen7}
                  alt="supreme thumbnail"
                  class="object-cover shadow-card"
                  width={428}
                  height={926}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
