---
import ModalOne from "/public/images/ModalOne.png";
import ModalTwo from "/public/images/ModalTwo.png";
import ModalThree from "/public/images/ModalThree.png";
import ModalFour from "/public/images/ModalFour.png";
import payments from "/public/images/payments.png";
import { Image } from "@astrojs/image/components";
---

<section aria-labelledby="feature-nine" id="feature-nine" class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24">
    <div>
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Feature nine</span
      >
      <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl lg:mx-auto">
        Spaziobianco is a well crafted
        <span class="lg:block"> and consistent UI Kit for your SaaS.</span>
      </h2>
    </div>
    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-24">
      <div class="lg:pr-24 md:pr-12">
        <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Includes Astro.js prismic
        </h2>
        <p class="text-tangaroa-400 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>

        <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12">
          <li>
            <div>
              <div
                class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                  ></path>
                </svg>
              </div>
              <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Municipal management performance corporate investment grade bonds.
            </div>
          </li>
          <li>
            <div>
              <div
                class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                  ></path>
                </svg>
              </div>
              <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                Tools for every stack
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Corporate bonds debt fiat risk return municipal bonds retirement
              interest rate benchmark.
            </div>
          </li>
        </ul>
      </div>
      <div
        class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-mercury-400 h-full">
        <div x-data x-tabs class="mx-auto">
          <div x-tabs:list class="-mb-px flex items-stretch gap-1">
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' bg-mint focus:bg-mint' : 'bg-transparent'"
              class="inline-flex rounded-full text-tangaroa-500 font-semibold px-3 py-2 text-xs"
              >Blogs</button
            >
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' bg-mint focus:bg-mint' : 'bg-transparent'"
              class="inline-flex rounded-full text-tangaroa-500 font-semibold px-3 py-2 text-xs"
              >Email
            </button>
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' bg-mint focus:bg-mint' : 'bg-transparent'"
              class="inline-flex rounded-full text-tangaroa-500 font-semibold px-3 py-2 text-xs"
              >Pricing
            </button>
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? ' bg-mint focus:bg-mint' : 'bg-transparent'"
              class="inline-flex rounded-full text-tangaroa-500 font-semibold px-3 py-2 text-xs"
              >Seats
            </button>
          </div>
          <div x-tabs:panels class="rounded-b-md bg-white mt-6">
            <section x-tabs:panel class="mt-4 rounded-2xl h-full shadow-card">
              <Image
                src={ModalOne}
                alt="supreme thumbnail"
                class="rounded-2xl shadow-card"
                width={400}
                height={420}
              />
            </section>
            <section x-tabs:panel class="mt-4 rounded-2xl h-full shadow-card">
              <Image
                src={ModalTwo}
                alt="supreme thumbnail"
                class="rounded-2xl shadow-card"
                width={408}
                height={366}
              />
            </section>
            <section x-tabs:panel class="mt-4 rounded-2xl h-fulll shadow-card">
              <Image
                src={ModalThree}
                alt="supreme thumbnail"
                class="rounded-2xl shadow-card"
                width={640}
                height={520}
              />
            </section>
            <section x-tabs:panel class="mt-4 rounded-2xl h-fulll shadow-card">
              <Image
                src={ModalFour}
                alt="supreme thumbnail"
                class="rounded-2xl shadow-card"
                width={480}
                height={417}
              />
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div class="lg:pl-24 md:pl-12">
        <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Stunning layouts
        </h2>
        <p class="text-tangaroa-400 mt-5">
          Your implementation includes relevant deep dive workshops so we can
          understand your requirements and create tailored integration guides
          for your teams to build faster.
        </p>
        <p class="mt-5">
          <a
            href=""
            class="text-orange hover:text-tangaroa inline-flex items-center group">
            See libraries
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </p>
        <ul role="list" class="grid grid-cols-2 list-none gap-6 mt-12">
          <li class="col-span-2 mb-6 lg:mb-0">
            <div>
              <p class="font-semibold text-tangaroa-500 text-sm">
                How it works
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Customers can choose to save their payment details at any
              Link-supported site across the Supreme network, and Link autofills
              those details for future purchases. When customers use Link on a
              new site or new device, they receive a one-time code to verify
              their identity.
            </div>
          </li>
          <li>
            <div>
              <div
                class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                  ></path>
                </svg>
              </div>
              <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Municipal management performance corporate investment grade bonds.
            </div>
          </li>
          <li>
            <div>
              <div
                class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                  ></path>
                </svg>
              </div>
              <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                Tools for every stack
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Corporate bonds debt fiat risk return municipal bonds retirement
              interest rate benchmark.
            </div>
          </li>
        </ul>
      </div>
      <div
        class="lg:mt-0 mt-12 md:pr-12 md:border-r lg:pr-24 border-mercury-400 h-full lg:order-first">
        <Image
          src={payments}
          alt="supreme thumbnail"
          class="rounded-5xl sm:rounded-[3.5rem] object-cover shadow-card"
          width={382}
          height={822}
        />
      </div>
    </div>
  </div>
</section>
