<section aria-labelledby="testimonials-one" id="testimonials-one">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="items-end pb-12">
      <div>
        <div class="lg:grid lg:grid-cols-2 gap-3 lg:gap-24">
          <div>
            <h2
              class="inline-flex items-center text-blue-600"
              id="table-of-contents-title">
              <span class="font-mono text-sm" aria-hidden="true">01</span><span
                class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
                class="ml-3 text-base font-medium tracking-tight"
                >Testimonial</span
              >
            </h2>
            <h2
              class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              Reviews
            </h2>
            <p class="mt-12 text-slate-500 text-sm">
              Spaziobianco Public rollover performance exchange traded funds
              junk bonds passively NASDAQ bills upswing retirement corporate
              market exposure.
            </p>
          </div>
        </div>

        <ul class="border-y divide-y w-full mt-12 relative" role="list">
          <li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "Really dope! These are ACTUAL good themes. Unlike some other
                  sites that just rush shit out the door."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/a9b47005f687e2c861919cfbc8ea9fa363242d6a/33407/images/reviews/chris.jpg"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    David Gutierrez
                  </p><p class="text-sm text-slate-500">
                    Creator of @nocodegallery
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "Amazing resource using @astrodotbuild and @tailwindcss! I got
                  it a week ago and have found the contents really useful. 5/5"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/d87771bb5dad726cf67d609669608e6e3ef0a5e0/c99a4/images/reviews/alonso.jpg"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Alonso</p><p
                    class="text-sm text-slate-500">
                    Entrepreneur
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">"Great work Michael!"</p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/5886976a0472675ebbdcfeeb46d354cff76569d2/e838d/images/reviews/adham.jpeg"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Adham Dannaway</p><p
                    class="text-sm text-slate-500">
                    practical-ui.com
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "I have been a keen follower of Michael's work for the past 6
                  months and I am truly impressed by his aesthetics,
                  functionality, and design consistency.With the help of
                  Lexington themes, building any digital product you desire
                  becomes a piece of cake using their versatile building
                  blocks!"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/0aaeafba520c782f53fac64b78cd7ee241405ec5/152aa/images/reviews/chinoa.jpg"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    Luis Eduardo Augusto Uyejara
                  </p><p class="text-sm text-slate-500">
                    Founder @manifiesto_dao
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "The amount of work and dedication put into this is insane and
                  you can see it, well done!"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/99155a72c580136a1ea072239cee35204ff2996c/1cf23/images/reviews/eelco.avif"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Eelco Wiersma</p><p
                    class="text-sm text-slate-500">
                    Creator of saas-ui.dev
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "The Lexington themes are no usual themes: they're well done,
                  professional, minimal and Michael has clearly put effort into
                  every detail making them, IMO, one of the best Tailwind theme
                  bundles that exist."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/fd5f56acb2504f0c03c7bb2ee0e9f0c22929bcca/e6636/images/reviews/davidgutierrez.avif"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">David</p><p
                    class="text-sm text-slate-500">
                    Founder of make.to
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "Such a huge fan of this collection! Outstanding job by
                  @michael_andreuzza. Brilliant designer and maker!"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/389d628dd700d03ccb8b7fa8babb6634571f7025/64073/images/reviews/joe.avif"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Joe Ashwell</p><p
                    class="text-sm text-slate-500">
                    Building seoship.io
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "These are some excellent themes if you're in the market."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/266b99c670fbdbffaed07d6ae5d55ccf92c30a2f/1c9f5/images/reviews/toast.jpg"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    Chief Toast Officer
                  </p><p class="text-sm text-slate-500">
                    Creator of lemondrop.app
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "I bought a beautiful theme from Lexington a couple weeks ago.
                  I didn't know Astro at the time, but Michael helped me get set
                  up and really went above and beyond with his support. Now I'm
                  happily redoing my site to look gorgeous with his template."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/87500b01c3180a1af93cff6df397967c52870025/dc3aa/images/reviews/stuart.png"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Stuart</p><p
                    class="text-sm text-slate-500">
                    Creator of saasydb.com
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">"Awesome work Michael!"</p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/dc107672a523204a69a00fc0e55438ff25c10521/e876c/images/reviews/graeme.avif"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Graeme Fulton</p><p
                    class="text-sm text-slate-500">
                    Making Prototypr.io and Letter
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:py-8 py-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "Well well done, arguably among the best themes and UI kits
                  out there!"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of {template.name}"
                    class="rounded-full grayscale h-10 lg:h-16 lg:w-16 w-10"
                    src="https://d33wubrfki0l68.cloudfront.net/b95106bda8deabb220cf52886c6dc37aa882d035/69159/images/reviews/bakermono.avif"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Bakermono Fra</p><p
                    class="text-sm text-slate-500">
                    Musician, designer, developer.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
