---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { url, title, description, pubDate, image } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: new Date(Astro.props.post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<div class="relative overflow-auto">
  <a href={url} title={title} class="absolute inset-0 z-10"></a>
  <div>
    <Image src={image} width="1000" height="1000" alt={title} class="" />
    <Text tag="p" variant="textXS" class="uppercase text-base-400">
      <time datetime={pubDate}>{pubDate}</time>
    </Text>
    <Text
      tag="h2"
      variant="textBase"
      class="gap-4 mt-2 text-base-900 text-balance"
    >
      {title}
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="mt-2 font-light tracking-tight text-base-400 text-balance line-clamp-2"
    >
      {description}
    </Text>
  </div>
</div>
