---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import User from "@/components/fundations/icons/User.astro";
import Shield from "@/components/fundations/icons/Shield.astro";
import Settings from "@/components/fundations/icons/Settings.astro";
import CreditCard from "@/components/fundations/icons/CreditCard.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import InfoCircle from "@/components/fundations/icons/InfoCircle.astro";

// Content
const { frontmatter } = Astro.props;

// Icon Mapping
const icons = {
  user: User,
  settings: Settings,
  shield: Shield,
  creditCard: CreditCard,
};

// Get the correct icon component based on iconId
const IconComponent = icons[frontmatter.iconId] || InfoCircle; // Default to InfoCircle if no match
---

<BaseLayout>
  <section>
    <Wrapper variant="narrow" class="py-24">
      <!-- Last Updated -->
      <Text
        variant="textXS"
        class="flex items-center font-medium uppercase text-base-600 gap-2"
      >
        <IconComponent size="sm" class="text-yellow-600" />
        <span>
          <time datetime="{frontmatter.lastUpdated}">
            {
              new Date(frontmatter.lastUpdated).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
              })
            }
          </time>
        </span>
      </Text>

      <!-- Page Icon and Title -->
      <div class="flex items-center mt-8 gap-4">
        <Text
          tag="h3"
          variant="displayMD"
          class="font-semibold tracking-tight text-base-800"
        >
          {frontmatter.page}
        </Text>
      </div>

      <!-- Description -->
      <Text variant="textMD" class="mt-4 text-base-600">
        {frontmatter.description}
      </Text>

      <!-- FAQ Section -->
      <Wrapper variant="prose" class="py-12 mt-12 border-t border-base-200">
        <slot />
      </Wrapper>

      <!-- Frequently Asked Questions -->
      <div class="pt-12 border-t border-base-200">
        <Text tag="h4" variant="displaySM" class="font-semibold text-base-800"
          >Frequently Asked Questions</Text
        >
        <ul class="mt-4 list-none space-y-4">
          {
            frontmatter.faq.map((item) => (
              <li class="flex">
                <div>
                  <Text
                    tag="h5"
                    variant="textBase"
                    class="font-medium text-base-800"
                  >
                    {item.question}
                  </Text>
                  <Text variant="textMD" class="mt-2 text-base-500">
                    {item.answer}
                  </Text>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
